tests/testGetAdjacentObjects/PackageA.cpp
tests/testGetAdjacentObjects/PackageA.h
tests/testGetAdjacentObjects/PackageA.xsd
tests/testGetAdjacentObjects/PackageB.cpp
tests/testGetAdjacentObjects/PackageB.h
tests/testGetAdjacentObjects/PackageB.xsd
tests/testGetAdjacentObjects/testAssociationScenarios.cpp
tests/testGetAdjacentObjects/testAssociationScenarios.h
tests/testGetAdjacentObjects/testAssociationScenarios.mga
tests/testGetAdjacentObjects/testAssociationScenarios.xsd
tests/testGetAdjacentObjects/testAssociationScenarios_udm.udm
tests/testOCL/SBML2.cpp
tests/testOCL/SBML2.dtd
tests/testOCL/SBML2.h
tests/testOCL/SBML2.xsd
tests/testOCL/SBML2_math.dtd
tests/testOCL/SBML2_math.xsd
tests/testOCL/SBML2_sbml.dtd
tests/testOCL/SBML2_sbml.xsd
tests/testOCL/SBML2_udm.xml
tests/testOCL/SBML2_uml.mga
tests/testUdmCint/GeneTF.cpp
tests/testUdmCint/GeneTF.dtd
tests/testUdmCint/GeneTF.h
tests/testUdmCint/GeneTF.xsd
tests/testUdmCint/GeneTF_GeneTF.dtd
tests/testUdmCint/GeneTF_GeneTF.xsd
tests/testUdmCint/GeneTF_GeneTF_xsd.h
tests/testUdmCint/GeneTF_udm.xml
tests/testUdmCint/GeneTF_uml.mga
tests/testUdmCint/GeneTF_xsd.h
tests/testUdmCint/SBML2Ex.cpp
tests/testUdmCint/SBML2Ex.h
tests/testUdmCint/SBML2Ex.xsd
tests/testUdmCint/SBML2Ex_bc.xsd
tests/testUdmCint/SBML2Ex_bc_xsd.h
tests/testUdmCint/SBML2Ex_dbi.xsd
tests/testUdmCint/SBML2Ex_dbi_xsd.h
tests/testUdmCint/SBML2Ex_flux.xsd
tests/testUdmCint/SBML2Ex_flux_xsd.h
tests/testUdmCint/SBML2Ex_jd.xsd
tests/testUdmCint/SBML2Ex_jd_xsd.h
tests/testUdmCint/SBML2Ex_jigcell.xsd
tests/testUdmCint/SBML2Ex_jigcell_xsd.h
tests/testUdmCint/SBML2Ex_math.xsd
tests/testUdmCint/SBML2Ex_math_xsd.h
tests/testUdmCint/SBML2Ex_sbml.xsd
tests/testUdmCint/SBML2Ex_sbml_xsd.h
tests/testUdmCint/SBML2Ex_udm.xml
tests/testUdmCint/SBML2Ex_uml.mga
tests/testUdmCint/SBML2Ex_unigene.xsd
tests/testUdmCint/SBML2Ex_unigene_xsd.h
tests/testUdmCint/SBML2Ex_xhtml.xsd
tests/testUdmCint/SBML2Ex_xhtml_xsd.h
tests/testUdmCint/SBML2Ex_xsd.h
tests/testUdmCint/tmp
tests/test_assocInheritanceMGA/SignalFlow.cpp
tests/test_assocInheritanceMGA/SignalFlow.h
tests/test_assocInheritanceMGA/SignalFlow.xsd
tests/test_assocInheritanceMGA/SignalFlow_uml.mga
tests/test_ns/test.xml
tests/test_ns/test_ns.cpp
tests/test_ns/test_ns.h
tests/test_ns/test_ns.xsd
tests/test_ns/test_ns_A.xsd
tests/test_ns/test_ns_AB.xsd
tests/test_ns/test_ns_AB_ABAB.xsd
tests/test_ns/test_ns_A_AA.xsd
tests/test_ns/test_ns_B.xsd
tests/test_ns/test_ns_udm.xml
tests/test_ns/test_ns_uml.mga
tests/test_ns2/CHost.cpp
tests/test_ns2/CHost.h
tests/test_ns2/CHost.xsd
tests/test_ns2/CHost_A.xsd
tests/test_ns2/CHost_B.xsd
tests/test_ns2/CHost_C.xsd
tests/test_ns2/CHost_udm.xml
tests/test_ns2/CHost_uml.mga
tests/test_ns_nested/MetaLevel3.cpp
tests/test_ns_nested/MetaLevel3.h
tests/test_ns_nested/MetaLevel3.mta
tests/test_ns_nested/MetaLevel3.xmp
tests/test_ns_nested/MetaLevel3.xmp.log
tests/test_ns_nested/MetaLevel3.xsd
tests/test_ns_nested/MetaLevel3_NS_Level2.xsd
tests/test_ns_nested/MetaLevel3_NS_Level2_NS_Level1.xsd
tests/test_ns_nested/MetaLevel3_udm.xml
tests/test_ns_nested/test_level3.mga
tests/test_refports/RefPort.cpp
tests/test_refports/RefPort.h
tests/test_refports/RefPort.xsd
tests/test_refports/RefPort_udm.xml
tests/test_refports/RefPort.mta
tests/test_refports/RefPort.xmp
tests/test_refports/RefPort.xmp.log
tests/test_refports/RefPortGme.mga
tests/test_UdmPython/UdmPythonTestMeta.mta
tests/test_UdmPython/UdmPythonTestModel.mga
Projects/Win32/VC10/tests/test_assocInheritanceMGA/sf1.mga
samples/CreateLampModel/LampDiagram*.mta
samples/CreateLampModel/LampDiagram.cpp
samples/CreateLampModel/LampDiagram.h
samples/CreateLampModel/LampDiagram.xmp
samples/CreateLampModel/LampDiagram.xmp.log
samples/CreateLampModel/LampDiagram.xsd
samples/CreateLampModel/LampDiagramGME.mga
samples/CreateLampModel/LampDiagramUML.mga
samples/CreateLampModel/LampDiagram_udm.xml
samples/CreateLampModel/LampDiagram_xsd.h
tests/testOCL/test_out.xml
tests/test_assocInheritanceMGA/SignalFlow*.mta
tests/test_assocInheritanceMGA/SignalFlow.xmp
tests/test_assocInheritanceMGA/SignalFlow.xmp.log
tests/test_assocInheritanceMGA/SignalFlow_udm.xml
tests/test_ns2/CHost.mga
tests/test_ns2/CHost.mta
tests/test_ns2/CHost.xmp
tests/test_ns2/CHost.xmp.log
Build/
bin/GmeOclExprChecker.dll
bin/Python26/udm.pyd
bin/Python27/udm.pyd
bin/UML2XML.dll
bin/Udm.exe
bin/UdmBackendDump.exe
bin/UdmCliBridge.dll
bin/UdmCopy.exe
bin/UdmDll_3_2_VS10.dll
bin/UdmDll_3_2_VS10D.dll
bin/UdmOclPat.exe
bin/UdmSwig.dll
bin/UdmToXmi.exe
bin/UdmViz.exe
bin/XmiToUdm.exe
bin/judm.jar
bin/GmeOclExprCheckerD.dll
bin/Python26/udmd.pyd
bin/UDMOclPatD.exe
bin/UML2XMLD.dll
bin/UdmBackendDumpD.exe
bin/UdmCopyD.exe
bin/UdmD.exe
bin/UdmDll_3_2_v100_x64.dll
bin/UdmDll_3_2_v100_x64D.dll
bin/UdmSwigD.dll
bin/UdmToXmiD.exe
bin/UdmVizD.exe
bin/XmiToUdmD.exe
bin/UdmDll_3_2_v110_Win32.dll
bin/UdmDll_3_2_v110_Win32D.dll
lib/PythonAPIGenD.lib
lib/UdmDll_v110_Win32.lib
lib/UdmDll_v110_Win32D.lib
common-scripts/
etc/MPCGen.exe
etc/StrResGen.exe
etc/MPCGenD.exe
etc/StrResGenD.exe
judm/build/
judm/samples/GeneTF/meta/GeneTF.mga
judm/samples/GeneTF/meta/GeneTF.xsd
judm/samples/GeneTF/meta/GeneTF_genetf.xsd
judm/samples/GeneTF/meta/GeneTF_udm.xml
judm/samples/GeneTF/src/main/
judm/samples/GeneTRE/meta/GeneTRE.mga
judm/samples/GeneTRE/meta/GeneTRE.xsd
judm/samples/GeneTRE/meta/GeneTRE_genetre.xsd
judm/samples/GeneTRE/meta/GeneTRE_udm.xml
judm/samples/GeneTRE/src/main/
judm/samples/SBML2Ex/meta/SBML2Ex.mga
judm/samples/SBML2Ex/meta/SBML2Ex.xsd
judm/samples/SBML2Ex/meta/SBML2Ex_bc.xsd
judm/samples/SBML2Ex/meta/SBML2Ex_dbi.xsd
judm/samples/SBML2Ex/meta/SBML2Ex_flux.xsd
judm/samples/SBML2Ex/meta/SBML2Ex_jd.xsd
judm/samples/SBML2Ex/meta/SBML2Ex_jigcell.xsd
judm/samples/SBML2Ex/meta/SBML2Ex_math.xsd
judm/samples/SBML2Ex/meta/SBML2Ex_sbml.xsd
judm/samples/SBML2Ex/meta/SBML2Ex_udm.xml
judm/samples/SBML2Ex/meta/SBML2Ex_unigene.xsd
judm/samples/SBML2Ex/meta/SBML2Ex_xhtml.xsd
judm/samples/SBML2Ex/src/main/
judm/samples/SBML2Ex/meta/SBML2Ex.xml
judm/samples/SBML2Ex/meta/SBML2Ex_uml.mga
judm/samples/TimeSeries/meta/TimeSeries.mga
judm/samples/TimeSeries/meta/TimeSeries.xsd
judm/samples/TimeSeries/meta/TimeSeries_udm.xml
judm/samples/TimeSeries/src/main/
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/AssociationInfo.java
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/CompositionInfo.java
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/UDMSwig.java
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/UDMSwigJNI.java
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/UdmBool.java
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/UdmDouble.java
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/UdmLong.java
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/UdmPseudoDataNetwork.java
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/UdmPseudoObject.java
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/UdmPseudoObjectS.java
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/VectorOfBools.java
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/VectorOfDoubles.java
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/VectorOfLongs.java
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/VectorOfStrings.java
judm/src/UdmSwig/edu/vanderbilt/isis/udm/swig/cint_string.java
lib/UdmDll_VS10.lib
lib/UdmDll_VS10D.lib
lib/PythonAPIGen.lib
lib/UdmDll_v100_x64.lib
lib/UdmDll_v100_x64D.lib
samples/Java/
NuGetPackages/
