<?xml version='1.0' encoding='windows-1252'?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' RequiredVersion='3.0.4813.0'>

  <?include ..\Udm_inc.wxi?>

  <Module Id='UdmDll' Language='1033' Codepage='1252' Version='$(var.VERSIONSTR)'>

    <Package Id='35DC72B5-A81C-4190-ACE7-9D10CE1DA1A1' Manufacturer='Vanderbilt University, ISIS'
        InstallerVersion='300' Languages='1033' SummaryCodepage='1252'
        InstallPrivileges='elevated' InstallScope='perMachine'/>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='$(var.SystemFolderNative)' Name='$(var.SystemFolderNative)'>
      <?if $(sys.BUILDARCH)=x86?>
        <Component>
          <File Source='$(var.Build)VC9\Release\UdmDll_3_2.dll' />
        </Component>
      <?endif?>
      </Directory>
    </Directory>

  </Module>
</Wix>
