<?xml version='1.0' encoding='windows-1252'?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' RequiredVersion='3.0.4813.0'>

  <?include ..\Udm_inc.wxi ?>
  <Module Id='Udm_SDK' Language='1033' Codepage='1252' Version='$(var.VERSIONSTR)'>

    <Package Id='$(var.Udm_SDK_Package_Id)'
        Manufacturer='Vanderbilt University, ISIS'
        InstallerVersion='300' Languages='1033' SummaryCodepage='1252'
        InstallPrivileges='elevated' InstallScope='perMachine'/>

    <!-- =========================================================== -->
    <!-- DIRECTORY STRUCTURE -->
    <!-- =========================================================== -->
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='$(var.ProgramFilesNativeFolder)'>
        <Directory Id='ISIS' Name='ISIS'>
          <Directory Id='INSTALLDIR' Name='Udm'>
            <Directory Id='bin' Name='bin'/>
            <Directory Id='etc' Name='etc'>
              <Directory Id='etc_Java' Name='Java'/>
            </Directory>
            <Directory Id='lib' Name='lib'/>
            <Directory Id='doc' Name='doc'/>
            <Directory Id='include' Name='include'/>
            <Directory Id='UIntWizVS' Name='UdmIntWizard'/>
            <Directory Id='Samples' Name='Samples'>
              <Directory Id='Samples_Python' Name='Python'>
                <Directory Id='test_UdmPython'/>
              </Directory>
              <Directory Id='GeneTF' Name='GeneTF'/>
              <Directory Id='GeneTRE' Name='GeneTRE'/>
              <Directory Id='SBML2Ex' Name='SBML2Ex'/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <?if $(sys.BUILDARCH)=x86 ?>
    <ComponentGroupRef Id="include" />
    <ComponentGroupRef Id="UIntWizVS" />
    <ComponentGroupRef Id="test_UdmPython"/>
    <ComponentGroupRef Id="GeneTF"/>
    <ComponentGroupRef Id="GeneTRE"/>
    <ComponentGroupRef Id="SBML2Ex"/>

    <DirectoryRef Id="INSTALLDIR">
      <Component>
        <File Source="..\releaseinfo.txt" />
      </Component>
      <Component>
        <File Source="..\license.txt" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="doc">
      <Component>
        <File Source="..\doc\UDMAPI.pdf" />
      </Component>
      <Component>
        <File Source="..\doc\UdmInterpreterWizard.pdf" />
      </Component>
      <!-- TODO: javadoc judm\build\build_win\judm\apidoc -->
    </DirectoryRef>

    <DirectoryRef Id="etc">
      <Component>
        <File Source="..\etc\CreateUdmXml.vbs" />
      </Component>
      <Component>
        <File Source="..\etc\compileUdmAPI.bat" />
      </Component>
      <Component>
        <File Source="..\etc\CreateMGA.vbs" />
      </Component>
      <Component>
        <File Source="..\etc\CreateXmp.vbs" />
      </Component>
      <Component>
        <File Source="..\etc\Uml.xsd" />
      </Component>
      <Component>
        <File Source="..\etc\UdmProject.xme" />
      </Component>
      <Component>
        <File Source="..\etc\UdmProject_udm.xml" />
      </Component>
      <Component>
        <File Source="..\etc\UdmProject.xsd" />
      </Component>
      <Component>
        <File Source="..\etc\Uml.xml" />
      </Component>
      <Component>
        <File Source="..\etc\Xme2UdmXml.bat" />
      </Component>
      <Component>
        <File Source="..\etc\UmlInUml.xme" />
      </Component>
      <Component>
        <File Source="..\etc\UmlMeta.xme" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="etc_Java">
      <Component>
        <File Source="..\etc\JAVA\judmAPI.bat" />
      </Component>
      <Component>
        <File Source="..\etc\JAVA\.classpath" />
      </Component>
      <Component>
        <File Source="..\etc\JAVA\.project" />
      </Component>
      <Component>
        <File Source="..\etc\JAVA\build.xml" />
      </Component>
      <Component>
        <File Source="..\etc\JAVA\eclipseAPI.bat" />
      </Component>
    </DirectoryRef>
    <?endif?>

    <DirectoryRef Id="lib">
      <?if $(sys.BUILDARCH)=x86 ?>
      <Component>
        <File Source="..\Build\Win32\VC9\Release\UdmDll.lib" />
      </Component>
      <Component>
        <File Source="..\Build\Win32\VC9\Debug\UdmDllD.lib" />
      </Component>
      <Component>
        <File Source="..\Build\Win32\VC10\Release\UdmDll_VS10.lib" />
      </Component>
      <Component>
        <File Source="..\Build\Win32\VC10\Debug\UdmDll_VS10D.lib" />
      </Component>
      <?else?>
      <Component>
        <File Source="..\Build\x64\VC10\Release\UdmDll_v100_x64.lib" />
      </Component>
      <!-- <Component>
        <File Source="..\..\Build\x64\VC10\Debug\UdmDll_v100_x64D.lib" />
      </Component> -->
      <?endif?>
    </DirectoryRef>

  </Module>
</Wix>
