<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.81.0" targetFramework="Native" />
  <!-- when upgrading, create __no-numpy.targets file and add to version control -->
	<!-- package id="boost_python-src" version="1.81.0" targetFramework="Native" / -->
</packages>