<cruisecontrol>

<!-- NOTE:
 ATLANTIS SOURCE REPOSITORY, i.e. \\atlantis\Project
 MUST ALREADY BE ATTACHED AS DRIVE P: TO THE LOCAL BUILD SYSTEM
-->

  <project name="UDM-XP-71">
    <workingDirectory>C:\Projects\UDM_NS2</workingDirectory>
    <webURL>http://localhost/ccnet/UDM</webURL>
    <modificationDelaySeconds>30</modificationDelaySeconds>
    <publishExceptions>true</publishExceptions>

    <!-- FETCH UDM SOURCE FILES -->
    <sourcecontrol type="vss" autoGetSource="true" applyLabel="false">
      <executable>C:\Program Files\Microsoft Visual Studio\VSS\win32\SS.exe</executable>
      <project>$/MoBIESTransition/udm_ns2</project>
      <ssdir>P:\MoBIES\VSS\</ssdir>
      <workingdirectory>C:\Projects\UDM_NS2</workingdirectory>
    </sourcecontrol>

    <tasks>
  
      <!-- REMOVE THE OLD UDM 3RD-PARTY SOFTWARE -->
      <exec>
        <executable>c:\cygwin\bin\rm.exe</executable>
        <baseDirectory>C:\Projects</baseDirectory>
        <buildArgs>-rf udm_ns_3rdparty*</buildArgs>
      </exec>
      <!-- COPY THE UDM 3RD-PARTY SOFTWARE ZIP FILE FROM ATLANTIS -->
      <exec>
        <executable>c:\cygwin\bin\cp.exe</executable>
        <baseDirectory>C:\Projects</baseDirectory>
        <buildArgs>/cygdrive/p/MoBIES/Udm/udm_ns/udm_ns_3rdparty.zip .</buildArgs>
      </exec>
      <!-- UNZIP THE 3RD-PARTY ZIP FILE -->
      <exec>
        <executable>c:\cygwin\bin\unzip.exe</executable>
        <baseDirectory>C:\Projects</baseDirectory>
        <buildArgs>-qq -o udm_ns_3rdparty.zip</buildArgs>
      </exec>
      <!-- GIVE ALL PERMISSIONS ON 3RD-PARTY SOFTWARE FILES -->
      <exec>
        <executable>c:\cygwin\bin\chmod.exe</executable>
        <baseDirectory>C:\Projects</baseDirectory>
        <buildArgs>-R 777 udm_ns_3rdparty</buildArgs>
      </exec>

      <!-- REMOVE (OLD) NANT -->
      <exec>
        <executable>c:\cygwin\bin\rm.exe</executable>
        <baseDirectory>C:\Projects</baseDirectory>
        <buildArgs>-rf NAnt*</buildArgs>
      </exec>
      <!-- COPY OVER NANT SOFTWARE ZIP FILE -->
      <exec>
        <executable>c:\cygwin\bin\cp.exe</executable>
        <baseDirectory>C:\Projects</baseDirectory>
        <buildArgs>/cygdrive/p/MoBIES/NAnt/NAnt.zip .</buildArgs>
      </exec>
      <!-- UNZIP THE NANT ZIP FILE -->
      <exec>
        <executable>c:\cygwin\bin\unzip.exe</executable>
        <baseDirectory>C:\Projects</baseDirectory>
        <buildArgs>-qq -o NAnt.zip</buildArgs>
      </exec>
      <!-- GIVE ALL PERMISSIONS ON NANT FILES -->
      <exec>
        <executable>c:\cygwin\bin\chmod.exe</executable>
        <baseDirectory>C:\Projects</baseDirectory>
        <buildArgs>-R 777 NAnt</buildArgs>
      </exec>

      <!-- BUILD THE PROJECT -->
      <nant>
        <executable>C:\Projects\NAnt\bin\NAnt.exe</executable>
        <baseDirectory>C:\Projects\UDM_NS2\src</baseDirectory>
        <buildArgs>-D:Path.udm_3rdparty=C:\Projects\udm_ns_3rdparty -D:Configuration=Debug</buildArgs>
      </nant>

      <!-- REMOVE THE "C:\Projects\UDM.built" DIRECTORY (IF EXISTS) -->
      <exec>
        <executable>c:\cygwin\bin\rm.exe</executable>
        <baseDirectory>C:\Projects</baseDirectory>
        <buildArgs>-rf UDM_NS2.built</buildArgs>
      </exec>
      <!-- MOVE "C:\Projects\UDM_NS2" TO "C:\Projects\UDM_NS2.built" TO -->
      <exec>
        <executable>c:\cygwin\bin\mv.exe</executable>
        <baseDirectory>C:\Projects</baseDirectory>
        <buildArgs>-f UDM_NS2 UDM_NS2.built</buildArgs>
      </exec>

    </tasks>

  </project>
</cruisecontrol>
