<?xml version='1.0' encoding='windows-1252'?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' RequiredVersion='3.0.4813.0'>

  <?include ..\Udm_inc.wxi?>

  <Fragment>
    <DirectoryRef Id='$(var.SystemFolderNative)'/>
    <ComponentGroup Id='UdmDll_VC12$(sys.BUILDARCH)'>
        <Component Id='UdmDllVC12$(sys.BUILDARCH)' Directory='$(var.SystemFolderNative)'>
          <File Source='$(var.Build)v120\Release\$(var.UdmDllVC12)' />
        </Component>
    </ComponentGroup>

  </Fragment>
</Wix>
